@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <h1>Teste <span class="fit">FiT</span>CARD</h1>
        <p class="lead">Este aplicativo WEB foi desenvolvido para o gerenciamento de Estabelecimentos e Categorias.</p>
        <div style="text-align:center">
            <div class=" col-md-3 col-md-offset-3">
                <h3>Estabelecimentos</h3>
                <p><a href="/Estabelecimentos" class="btn btn-branco"><i class="fa fa-list"></i> Listar</a></p>
                <p><a href="/Estabelecimentos/NovoEstabelecimento" class="btn btn-branco"><i class="fa fa-file-o"></i> Criar </a></p>
            </div>
            <div class="col-md-3">
                <h3>Categorias</h3>
                <p><a href="/Categorias" class="btn btn-branco"><i class="fa fa-list"></i> Listar</a></p>
                <p><a href="/Categorias/NovaCategoria" class="btn btn-branco"><i class="fa fa-file-o"></i> Criar</a></p>
            </div>
        </div>
    </div>
</div>